body{
    padding: 0;
    margin: 0;
}
.rectangle{
    background: #181818;
    width: 100%;
    height: 60px; 
    display: inline-block;
    text-align: right;
    margin: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.optiones{
    margin: 0px;
    padding: 5px;
    padding-right: 50px;
}

.logo{
    position: absolute;
    top: 8px;
    left: 15px;
    color: honeydew;
    margin-left: 15px;
    margin-right: 10px;
}
.main{
    background: green;
    width: 365px;
    height: 260px;
    margin-left: 15px;
    margin-right: 10px;
    border-radius: 10px;
}

ol{
    color: rgba(161, 159, 159, 0.966);
    display: inline-block;
    font-size: 17px;
    margin-top: 15px;
    padding-left: 10px;
    font-family: Soucer;
    font-style: bold;
}

ol:hover{
    color: white;
    cursor: pointer;
}

.credits{
    background: #3d6891e0;
    text-align: center;
    margin: 0px;
    width: 100%;
    height: 30px;
}

.fas fa-headset{
    background-color: white;
    width: 70px;
    height: 70px;
}
.textfooter{
    color: white;
    margin-top: 15px;
    font-family: sans-serif;
}/*
.contenetorImg{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 15px;
   